<h1>Detalhes do produto</h1>
<div>
    <p>{{produto.nome}}</p>
    <p>Descrição: {{produto.descricao}}</p>
    <p>Preço: R$ {{produto.preco}}</p>
    <p>Estoque: {{produto.estoque}} </p>

    <button type="button" class="btn btn-primary">
        <a href="/produtos/add">Adicionar produto</a>
    </button>

    <button type="button" class="btn btn-danger"
        onclick="confirmarApagar('/produtos/{{produto.id}}/remover')">Excluir
        <i class="bi bi-trash"></i>
    </button>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="toastConfirmarDelete" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-warning text-dark"><i class="bi bi-exclamation-triangle-fill me-2"></i><strong
                class="me-auto">Confirmação</strong><button type="button" class="btn-close" data-bs-dismiss="toast"
                aria-label="Fechar"></button></div>
        <div class="toast-body">
            Tem certeza que deseja apagar este item?
            <div class="mt-2 pt-2 border-top d-flex justify-content-end gap-2"><button type="button"
                    class="btn btn-sm btn-secondary" data-bs-dismiss="toast">Cancelar</button>
                <form id="formDelete" method="POST"><button type="submit" class="btn btn-sm btn-danger">Apagar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmarApagar(url) {
        const form = document.getElementById('formDelete');
        form.action = url;
        const toast = new bootstrap.Toast(document.getElementById('toastConfirmarDelete'));
        toast.show();
    }
</script>